/* base.css */

/* background */
body {
	background-color:Ghostwhite;
	padding-bottom:50px;
}

/* nav bar */

/* emis header */

h1 {
	color:red;
}

header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Ghostwhite;
    position: fixed;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: LightBlue;
    position: fixed;
    top: 13%;
    width: 100%;
}

/* page links */
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding:16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #428ff4;
	color: white;
}

.active {
    background-color: LightYellow;
}
/* end nav bar */

/* page instruction header */
.p01{
	padding-top:160px;
	font-size:20px;
	font-family:verdana;
	text-align:center;
}

.main {
	width:450px;
	height:20%;
	text-align:center;
	margin: auto;
	background-color:White;
	border:1px solid black;
}

.button {
	text-align:center;
	padding:10px;
	background-color:clear;
}

.fpassword{
	padding:5px;
	font-size:11px;
	text-decoration:none;
}

/*.footer{position:fixed;width:300px;bottom: 5px;}*/